{% extends 'base.html' %}

{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Programmiersprache', 'Ergebnis'],
          ['Java',          {{ individuell.Java }}],
          ['Python',        {{ individuell.Python }}],
          ['Swift',         {{ individuell.Swift }}],
          ['C++',           {{ individuell.Cplusplus }}],
          ['C#',            {{ individuell.Csharp }}],
          ['JavaScript',    {{ individuell.JavaScript  }}],
          ['Matlab',        {{ individuell.Matlab }}],
          ['Go',            {{ individuell.Go }}],
          ['HTML, CSS',     {{ individuell.HTMLCSS }}],
          ['SQL',           {{ individuell.SQL }}],
          ['PHP',           {{ individuell.PHP }}],
          ['R',             {{ individuell.R }}],
          ['TypeScript',    {{ individuell.TypeScript }}],
          ['Kotlin',        {{ individuell.Kotlin }}],
          ['ABAP',          {{ individuell.ABAP }}]
        ]);

        var options = {
          height: 280,
          width: 440,
          backgroundColor: 'transparent',
          legend: 'none',
          colors: ['#b252ff', '#a848f5', '#9d3eeb', '#9334e1', '#8a2ad7', '#7f20cd', '#7616c3', '#6C0CB9', '#6202AF', '#5800A5', '#4E009B', '#440091', '#3A0087', '#30007D', '#260073']
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechartIndividuell'));

        chart.draw(data, options);
      }
</script>

<script>
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Programmiersprache', 'Ergebnis'],
          ['Java',          {{ gesamt.Java }}],
          ['Python',        {{ gesamt.Python }}],
          ['Swift',         {{ gesamt.Swift }}],
          ['C++',           {{ gesamt.Cplusplus }}],
          ['C#',            {{ gesamt.Csharp }}],
          ['JavaScript',    {{ gesamt.JavaScript  }}],
          ['Matlab',        {{ gesamt.Matlab }}],
          ['Go',            {{ gesamt.Go }}],
          ['HTML, CSS',     {{ gesamt.HTMLCSS }}],
          ['SQL',           {{ gesamt.SQL }}],
          ['PHP',           {{ gesamt.PHP }}],
          ['R',             {{ gesamt.R }}],
          ['TypeScript',    {{ gesamt.TypeScript }}],
          ['Kotlin',        {{ gesamt.Kotlin }}],
          ['ABAP',          {{ gesamt.ABAP }}]
        ]);

        var options = {
          height: 280,
          width: 440,
          backgroundColor: 'transparent',
          legend: 'none',
          colors: ['#b252ff', '#a848f5', '#9d3eeb', '#9334e1', '#8a2ad7', '#7f20cd', '#7616c3', '#6C0CB9', '#6202AF', '#5800A5', '#4E009B', '#440091', '#3A0087', '#30007D', '#260073']
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechartGesamt'));

        chart.draw(data, options);
      }
</script>

<div class="piechartContainer">
    <p>Hier ist dein individuelles Ergebnis:</p>
    <div id="piechartIndividuell" style="width: 56.25em; height: 31.25em;"></div >
</div>

<div class="piechartContainer">
    <p>Hier ist das Ergebnis von allen Code-o-Matern:</p>
    <div id="piechartGesamt" style="width: 56.25em; height: 31.25em;"></div >
</div>

{% endblock %}