{% extends 'base.html' %}

{% block content %}
<h2>Deine Auswertung</h2>

<p>Java: {{ individuell.Java }} <br>
    Python: {{ individuell.Python }} <br>
    Swift: {{ individuell.Swift }} <br>
    Cplusplus: {{ individuell.Cplusplus }} <br>
    Csharp: {{ individuell.Csharp }} <br>
    JavaScript: {{ individuell.JavaScript }} <br>
    Matlab:{{ individuell.Matlab }} <br>
    Go:{{ individuell.Go }} <br>
    HTMLCSS:{{ individuell.HTMLCSS }} <br>
    SQL:{{ individuell.SQL }} <br>
    PHP:{{ individuell.PHP }} <br>
    R:{{ individuell.R }} <br>
    TypeScript:{{ individuell.TypeScript }} <br>
    Kotlin:{{ individuell.Kotlin }} <br>
    ABAP:{{ individuell.ABAP }}
</p>
<p>Java: {{ gesamt.Java }} <br>
    Python: {{ gesamt.Python }} <br>
    Swift: {{ gesamt.Swift }} <br>
    Cplusplus: {{ gesamt.Cplusplus }} <br>
    Csharp: {{ gesamt.Csharp }} <br>
    JavaScript: {{ gesamt.JavaScript }} <br>
    Matlab:{{ gesamt.Matlab }} <br>
    Go:{{ gesamt.Go }} <br>
    HTMLCSS:{{ gesamt.HTMLCSS }} <br>
    SQL:{{ gesamt.SQL }} <br>
    PHP:{{ gesamt.PHP }} <br>
    R:{{ gesamt.R }} <br>
    TypeScript:{{ gesamt.TypeScript }} <br>
    Kotlin:{{ gesamt.Kotlin }} <br>
    ABAP:{{ gesamt.ABAP }}
</p>


{% endblock %}