{% extends 'base.html' %}

{% block content %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Programmiersprache', 'Ergebnis'],
          ['Java',          {{ individuell.Java }}],
          ['Python',        {{ individuell.Python }}],
          ['Swift',         {{ individuell.Swift }}],
          ['C++',           {{ individuell.Cplusplus }}],
          ['C#',            {{ individuell.Csharp }}],
          ['JavaScript',    {{ individuell.JavaScript  }}],
          ['Matlab',        {{ individuell.Matlab }}],
          ['Go',            {{ individuell.Go }}],
          ['HTML, CSS',     {{ individuell.HTMLCSS }}],
          ['SQL',           {{ individuell.SQL }}],
          ['PHP',           {{ individuell.PHP }}],
          ['R',             {{ individuell.R }}],
          ['TypeScript',    {{ individuell.TypeScript }}],
          ['Kotlin',        {{ individuell.Kotlin }}],
          ['ABAP',          {{ individuell.ABAP }}]
        ]);

        var options = {
          height: 280,
          width: 440,
          backgroundColor: 'transparent',
          legend: 'none',
          tooltip: {
            text: 'percentage'
          },
          pieSliceText: 'label',
          colors: ['#b252ff', '#a848f5', '#9d3eeb', '#9334e1', '#8a2ad7', '#7f20cd', '#7616c3', '#6C0CB9', '#6202AF', '#5800A5', '#4E009B', '#440091', '#3A0087', '#30007D', '#260073']
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechartIndividuell'));

        chart.draw(data, options);
      }
</script>

<script>
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Programmiersprache', 'Ergebnis'],
          ['Java',          {{ gesamt.Java }}],
          ['Python',        {{ gesamt.Python }}],
          ['Swift',         {{ gesamt.Swift }}],
          ['C++',           {{ gesamt.Cplusplus }}],
          ['C#',            {{ gesamt.Csharp }}],
          ['JavaScript',    {{ gesamt.JavaScript  }}],
          ['Matlab',        {{ gesamt.Matlab }}],
          ['Go',            {{ gesamt.Go }}],
          ['HTML, CSS',     {{ gesamt.HTMLCSS }}],
          ['SQL',           {{ gesamt.SQL }}],
          ['PHP',           {{ gesamt.PHP }}],
          ['R',             {{ gesamt.R }}],
          ['TypeScript',    {{ gesamt.TypeScript }}],
          ['Kotlin',        {{ gesamt.Kotlin }}],
          ['ABAP',          {{ gesamt.ABAP }}]
        ]);

        var options = {
          height: 280,
          width: 440,
          backgroundColor: 'transparent',
          legend: 'none',
          tooltip: {
            text: 'percentage'
          },
          pieSliceText: 'label',
          colors: ['#b252ff', '#a848f5', '#9d3eeb', '#9334e1', '#8a2ad7', '#7f20cd', '#7616c3', '#6C0CB9', '#6202AF', '#5800A5', '#4E009B', '#440091', '#3A0087', '#30007D', '#260073']
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechartGesamt'));

        chart.draw(data, options);
      }
</script>

<div class="ErklärtextContainer">
    <p class="erklärtext">Fahre über die Kuchenstücke um die genauen Werte für die einzelnen Programmiersprachen zu erfahren.</p>
</div>

<div class="piechartOuterContainer">
    <div class="piechartContainerIndividuell">
        <p>Hier ist dein individuelles Ergebnis:</p>
        <div id="piechartIndividuell" style="width: 56.25em; height: 15.25em;"></div >
    </div>

    <div class="piechartContainerGesamt">
        <p>Hier ist das Ergebnis von allen Code-o-Matern:</p>
        <div id="piechartGesamt" style="width: 56.25em; height: 15.25em;"></div >
    </div>
</div>

<div class="SprachenContainer">
    <p class="ProgrammierspracheÜberschrift">Du willst mehr über die jeweilige Programmiersprache erfahren?</p>
    <p class="Fließtext">Dann such dir eine der unten verfügbaren Sprachen aus und du wirst hier einige Informationen erhalten.</p>
</div>

<div class="aktSpracheContainer">
    <p class="progrSprache" id="progrSprache">Programmiersprache</p>
    <p class="sprachenBeschreibung" id="sprachenBeschreibung">Beschreibung</p>
    <p class="helloWorld" id="helloWorld">helloWorld</p>
    <a href="" id="link1" class="link">Linkilink</a>
    <a href="" id="link2" class="link">Linkilink2</a>
</div>

 <div class="sprachButton" id="sprachButtons">
             <button onclick='document.getElementById("progrSprache").innerHTML="ABAP";
                      document.getElementById("sprachenBeschreibung").innerHTML="{{beschreibungen.ABAP}}";
                      document.getElementById("helloWorld").innerHTML="{{helloWorlds.ABAP}}";
                      document.getElementById("link1").innerHTML="{{links.ABAP}}";
                      document.getElementById("link1").href="{{links.ABAP}}";
                      document.getElementById("link2").innerHTML="{{links2.ABAP}}";
                      document.getElementById("link2").href="{{links2.ABAP}}"'>ABAP</button>
            <button onclick='document.getElementById("progrSprache").innerHTML="C#";
                      document.getElementById("sprachenBeschreibung").innerHTML="{{beschreibungen.Csharp}}";
                      document.getElementById("helloWorld").innerHTML="{{helloWorlds.Csharp}}";
                      document.getElementById("link1").innerHTML="{{links.Csharp}}";
                      document.getElementById("link1").href="{{links.Csharp}}";
                      document.getElementById("link2").innerHTML="{{links2.Csharp}}";
                      document.getElementById("link2").href="{{links2.Csharp}}"'>C#</button>
            <button onclick='document.getElementById("progrSprache").innerHTML="C++";
                      document.getElementById("sprachenBeschreibung").innerHTML="{{beschreibungen.Cplusplus}}";
                      document.getElementById("helloWorld").innerHTML="{{helloWorlds.Cplusplus}}";
                      document.getElementById("link1").innerHTML="{{links.Cplusplus}}";
                      document.getElementById("link1").href="{{links.Cplusplus}}";
                      document.getElementById("link2").innerHTML="{{links2.Cplusplus}}";
                      document.getElementById("link2").href="{{links2.Cplusplus}}"'>C++</button>
            <button onclick='document.getElementById("progrSprache").innerHTML="Go";
                      document.getElementById("sprachenBeschreibung").innerHTML="{{beschreibungen.Go}}";
                      document.getElementById("helloWorld").innerHTML="{{helloWorlds.Go}}";
                      document.getElementById("link1").innerHTML="{{links.Go}}";
                      document.getElementById("link1").href="{{links.Go}}";
                      document.getElementById("link2").innerHTML="{{links2.Go}}";
                      document.getElementById("link2").href="{{links2.Go}}"'>Go</button>
            <button onclick='document.getElementById("progrSprache").innerHTML="HTML/CSS";
                      document.getElementById("sprachenBeschreibung").innerHTML="{{beschreibungen.HTMLCSS}}";
                      document.getElementById("helloWorld").innerHTML="{{helloWorlds.HTMLCSS}}";
                      document.getElementById("link1").innerHTML="{{links.HTMLCSS}}";
                      document.getElementById("link1").href="{{links.HTMLCSS}}";
                      document.getElementById("link2").innerHTML="{{links2.HTMLCSS}}";
                      document.getElementById("link2").href="{{links2.HTMLCSS}}"'>HTML/CSS</button>
            <button onclick='document.getElementById("progrSprache").innerHTML="Java";
                      document.getElementById("sprachenBeschreibung").innerHTML="{{beschreibungen.Java}}";
                      document.getElementById("helloWorld").innerHTML="{{helloWorlds.Java}}";
                      document.getElementById("link1").innerHTML="{{links.Java}}";
                      document.getElementById("link1").href="{{links.Java}}";
                      document.getElementById("link2").innerHTML="{{links2.Java}}";
                      document.getElementById("link2").href="{{links2.Java}}"'>Java</button>
            <button onclick='document.getElementById("progrSprache").innerHTML="JavaScript";
                      document.getElementById("sprachenBeschreibung").innerHTML="{{beschreibungen.JavaScript}}";
                      document.getElementById("helloWorld").innerHTML="{{helloWorlds.JavaScript}}";
                      document.getElementById("link1").innerHTML="{{links.JavaScript}}";
                      document.getElementById("link1").href="{{links.JavaScript}}";
                      document.getElementById("link2").innerHTML="{{links2.JavaScript}}";
                      document.getElementById("link2").href="{{links2.JavaScript}}"'>JavaScript</button>
            <button onclick='document.getElementById("progrSprache").innerHTML="Kotlin";
                      document.getElementById("sprachenBeschreibung").innerHTML="{{beschreibungen.Kotlin}}";
                      document.getElementById("helloWorld").innerHTML="{{helloWorlds.Kotlin}}";
                      document.getElementById("link1").innerHTML="{{links.Kotlin}}";
                      document.getElementById("link1").href="{{links.Kotlin}}";
                      document.getElementById("link2").innerHTML="{{links2.Kotlin}}";
                      document.getElementById("link2").href="{{links2.Kotlin}}"'>Kotlin</button>
            <button onclick='document.getElementById("progrSprache").innerHTML="Matlab";
                      document.getElementById("sprachenBeschreibung").innerHTML="{{beschreibungen.Matlab}}";
                      document.getElementById("helloWorld").innerHTML="{{helloWorlds.Matlab}}";
                      document.getElementById("link1").innerHTML="{{links.Matlab}}";
                      document.getElementById("link1").href="{{links.Matlab}}";
                      document.getElementById("link2").innerHTML="{{links2.Matlab}}";
                      document.getElementById("link2").href="{{links2.Matlab}}"'>Matlab</button>
            <button onclick='document.getElementById("progrSprache").innerHTML="PHP";
                      document.getElementById("sprachenBeschreibung").innerHTML="{{beschreibungen.PHP}}";
                      document.getElementById("helloWorld").innerHTML="{{helloWorlds.PHP}}";
                      document.getElementById("link1").innerHTML="{{links.PHP}}";
                      document.getElementById("link1").href="{{links.PHP}}";
                      document.getElementById("link2").innerHTML="{{links2.PHP}}";
                      document.getElementById("link2").href="{{links2.PHP}}"'>PHP</button>
            <button onclick='document.getElementById("progrSprache").innerHTML="Python";
                      document.getElementById("sprachenBeschreibung").innerHTML="{{beschreibungen.Python}}";
                      document.getElementById("helloWorld").innerHTML="{{helloWorlds.Python}}";
                      document.getElementById("link1").innerHTML="{{links.Python}}";
                      document.getElementById("link1").href="{{links.Python}}";
                      document.getElementById("link2").innerHTML="{{links2.Python}}";
                      document.getElementById("link2").href="{{links2.Python}}"'>Python</button>
            <button onclick='document.getElementById("progrSprache").innerHTML="R";
                      document.getElementById("sprachenBeschreibung").innerHTML="{{beschreibungen.R}}";
                      document.getElementById("helloWorld").innerHTML="{{helloWorlds.R}}";
                      document.getElementById("link1").innerHTML="{{links.R}}";
                      document.getElementById("link1").href="{{links.R}}";
                      document.getElementById("link2").innerHTML="{{links2.R}}";
                      document.getElementById("link2").href="{{links2.R}}"'>R</button>
            <button onclick='document.getElementById("progrSprache").innerHTML="SQL";
                      document.getElementById("sprachenBeschreibung").innerHTML="{{beschreibungen.SQL}}";
                      document.getElementById("helloWorld").innerHTML="{{helloWorlds.SQL}}";
                      document.getElementById("link1").innerHTML="{{links.SQL}}";
                      document.getElementById("link1").href="{{links.SQL}}";
                      document.getElementById("link2").innerHTML="{{links2.SQL}}";
                      document.getElementById("link2").href="{{links2.SQL}}"'>SQL</button>
            <button onclick='document.getElementById("progrSprache").innerHTML="Swift";
                      document.getElementById("sprachenBeschreibung").innerHTML="{{beschreibungen.Swift}}";
                      document.getElementById("helloWorld").innerHTML="{{helloWorlds.Swift}}";
                      document.getElementById("link1").innerHTML="{{links.Swift}}";
                      document.getElementById("link1").href="{{links.Swift}}";
                      document.getElementById("link2").innerHTML="{{links2.Swift}}";
                      document.getElementById("link2").href="{{links2.Swift}}"'>Swift</button>
            <button onclick='document.getElementById("progrSprache").innerHTML="TypeScript";
                      document.getElementById("sprachenBeschreibung").innerHTML="{{beschreibungen.TypeScript}}";
                      document.getElementById("helloWorld").innerHTML="{{helloWorlds.TypeScript}}";
                      document.getElementById("link1").innerHTML="{{links.TypeScript}}";
                      document.getElementById("link1").href="{{links.TypeScript}}";
                      document.getElementById("link2").innerHTML="{{links2.TypeScript}}";
                      document.getElementById("link2").href="{{links2.TypeScript}}"'>TypeScript</button>
     <!-- hier isöoijdföiajfgöruhnf<yxckjyfbvn.k<jgarwn
 </div>

{% endblock %}