<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code-o-Mate!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="default.css") }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename="startseite.css") }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename="fragenkatalog.css") }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename="auswertung.css") }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename="rechtliches.css") }}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
<h1> <span class="h1_01">{</span>
    <span class="h1_02">Code-o-Mate</span>
    <span class="h1_01">}</span>
</h1>

{% block content %} {% endblock %}
</body>
</html>