.ErklärtextContainer {
    border-radius: 20px;
    background-color: #242424 ;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
    padding: 8px 12px;
    width: 62.5em;
    margin: auto;
    margin-top: 3em;
}

/* Container für beide PieCharts */
.piechartOuterContainer {
   width: 62.5em;
   margin: auto;
   margin-top: 3em;
   display: flex;
   justify-content: center;
   align-items: center;
}

.piechartContainerIndividuell {
    border-radius: 20px;
    background-color: #242424 ;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
    padding: 8px 12px;
    width: 25em;
    float: left;
}

#piechartIndividuell{
    margin-top: -2em;
}

.piechartContainerGesamt {
    border-radius: 20px;
    background-color: #242424 ;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
    padding: 8px 12px;
    width: 25em;
    margin-left: 5%;
    float: left;
}

#piechartGesamt{
    margin-top: -2em;
}

.SprachenContainer {
    width: 62.5em;
    border-radius: 20px;
    padding: 8px 12px;
    background-color: #242424 ;
    color: #FFFFFF;
    text-align: left;
    margin: auto;
    margin-top:3em;
    font-family: 'Roboto Condensed', sans-serif;
}

.Fließtext {
    color: rgba(255,255,255,0.65);
    margin-left: 2.5em;
}

.aktSpracheContainer{
    width: 62.5em;
    border-radius: 20px;
    padding: 8px 12px;
    background-color: #242424 ;
    color: #FFFFFF;
    text-align: left;
    margin: auto;
    margin-top:3em;
    font-family: 'Roboto Condensed', sans-serif;
}

.sprachenBeschreibung{
    color: rgba(255,255,255,0.65);
    margin-left: 2.5em;
}

.helloWorld{
    color: #9939F9;
    margin-left: 2.5em;
}

.link{
    color: rgba(255,255,255,0.65);
    margin-left: 2.5em;
    font-style: italic;
}

.sprachButton{
    margin: auto;
    width: 62.5em;
    margin-top: 3em;
}

.ABAPBtn{
   background: none;
   border: none;
   padding: 0;
}

.BtnABAP{
    width: 150px;
    height: 150px;
}

.CsharpBtn{
   background: none;
   border: none;
   padding: 0;
   margin-left: 5%;
}

.BtnCsharp{
    width: 150px;
    height: 150px;
}

.CplusplusBtn{
   background: none;
   border: none;
   padding: 0;
   margin-left: 5%;
}

.BtnCplusplus{
    width: 150px;
    height: 150px;
}

.BtnGo{
   background: none;
   border: none;
   padding: 0;
   margin-left: 5%;
}

.BtnGo{
    width: 150px;
    height: 150px;
}

.BtnHTMLCSS{
   background: none;
   border: none;
   padding: 0;
   margin-left: 5%;
}

.BtnHTMLCSS{
    width: 150px;
    height: 150px;
}

.BtnJava{
   background: none;
   border: none;
   padding: 0;
}

.BtnJava{
    width: 150px;
    height: 150px;
}

.BtnJavaScript{
   background: none;
   border: none;
   padding: 0;
   margin-left: 5%;
}

.BtnJavaScript{
    width: 150px;
    height: 150px;
}

.BtnKotlin{
   background: none;
   border: none;
   padding: 0;
   margin-left: 5%;
}

.BtnKotlin{
    width: 150px;
    height: 150px;
}

.BtnMatlab{
   background: none;
   border: none;
   padding: 0;
   margin-left: 5%;
}

.BtnMatlab{
    width: 150px;
    height: 150px;
}

.BtnPHP{
   background: none;
   border: none;
   padding: 0;
   margin-left: 5%;
}

.BtnPHP{
    width: 150px;
    height: 150px;
}

.BtnPython{
    background:none;
    border: none;
    padding: 0;
    margin-left:
}

.BtnPython{
    width: 150px;
    height: 150px;
}

.BtnR{
    background: none;
    border: none;
    padding: 0;
    margin-left: 5%;
    width: 150 px;
    height: 150 px;
}

.BtnR{
    width: 150px;
    height: 150px;
}

.BtnSQL{
    background: none;
    border: none;
    padding: 0;
    margin-left: 5%;
    width: 150 px;
    height: 150 px;
}

.BtnSQL{
    width: 150px;
    height: 150px;
}

.BtnSwift{
    background: none;
    border: none;
    padding: 0;
    margin-left: 5%;
    cursor: pointer;
}

.BtnSwift{
    width: 150px;
    height: 150px;
}

.BtnTypeScript{
    background: none;
    border: none;
    padding: 0;
    margin-left: 5%;
}


.BtnTypeScript{
    width: 150px;
    height: 150px;
}

