.ErklärtextContainer {
    border-radius: 20px;
    background-color: #242424 ;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
    padding: 8px 12px;
    width: 62.5em;
    margin: auto;
    margin-top: 3em;
}

/* CONTAINER FUER BEIDE PIECHARTS */
.piechartOuterContainer {
   width: 62.5em;
   margin: auto;
   margin-top: 3em;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* PIECHART EINZELAUSWERTUNG */
.piechartContainerIndividuell {
    border-radius: 20px;
    background-color: #242424 ;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
    padding: 8px 12px;
    width: 25em;
    float: left;
}

#piechartIndividuell{
    margin-top: -2em;
}

/* PIECHART GESAMTAUSWERTUNG */
.piechartContainerGesamt {
    border-radius: 20px;
    background-color: #242424 ;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
    padding: 8px 12px;
    width: 25em;
    margin-left: 5%;
    float: left;
}

#piechartGesamt{
    margin-top: -2em;
}

/* BLOCK MIT INFORMATIONEN UEBER DIE PROGRAMMIERSPRACHEN */
.Fließtext {
    color: rgba(255,255,255,0.65);
    margin-left: 2.5em;
}

.aktSpracheContainer{
    width: 62.5em;
    border-radius: 20px;
    padding: 8px 12px;
    background-color: #242424 ;
    color: #FFFFFF;
    text-align: left;
    margin: auto;
    margin-top:3em;
    font-family: 'Roboto Condensed', sans-serif;
}

.sprachenBeschreibung{
    color: rgba(255,255,255,0.65);
    margin-left: 2.5em;
}

.helloWorld{
    color: #9939F9;
    margin-left: 2.5em;
}

.link{
    color: rgba(255,255,255,0.65);
    margin-left: 2.5em;
    font-style: italic;
}

.sprachButton{
    margin: auto;
    width: 62.5em;
    margin-top: 3em;
}

/* PROGRAMMIERSPRACHEN-KACHELN */
.SprachenOuterContainerClass{
   display: inline-block;
   margin-left: 17.5em;
}

.SprachenInnerContainerClass{
    margin: auto;
    display: inline-block;
}

/* PROGRAMMIERSPRACHEN-BUTTONS */
.SprachenButtonClass{
   background: none;
   border: none;
   padding: 0;
   cursor: pointer;
   margin-top: 3em;
   margin-right: 3em;
}

.SprachenButtonClass:focus .KachelHintergrundClass{
    fill: #9939F9;
}

.SprachenButtonClass:focus .LogoClass{
    fill: #FFFFFF;
}

/* PROGRAMMIERSPRACHEN-SVG */
.ClassSVG{
    width: 150px;
    height: 150px;
}


.ClassSVG:hover .KachelHintergrundClass{
    fill: #9939F9;
    transition: fill 0.3s ease-in, color 0.3s ease-in;
}


.ClassSVG:hover .LogoClass{
    fill: #FFFFFF;
    transition: fill 0.3s ease-in, color 0.3s ease-in;
}

