.willkommenstext {
    width: 1000px;
    border-radius: 20px;
    padding: 8px 12px;
    background-color: #242424;
    text-align: left;
    margin: auto;
    margin-top: 3em;
    font-family: 'Roboto Condensed', sans-serif;
}

.überschrift {
    color: #FFFFFF;
    margin-left: 2.5em;
}

.fliesstext {
    color: rgba(255,255,255,0.65);
    margin-left: 2.5em;
}

.btn_container{
    text-align: center;
}

.btn {
    display: inline-block;
    text-align: center;
    width: 200px;
    padding: 10px;
    background-color: #242424;
    border-color: #9939F9;
    border-radius: 10px;
    margin-top: -1.25em;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.3em;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.btn:hover,.btn:active{
    background-color: #9939F9;
    color: #FFFFFF;
    border-color: #FFFFFF;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

